@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
	font-family: 'Poppins', sans-serif;
	color: #343D4C;
}
body{
	padding: 0;
	margin: 0;
	min-height: 100vh;
	display: flex;
	justify-content: space-around;
	background-color: #FFFF00;
}
section{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
form{
	background-color: #FFF;
	height: 550px;
	width: 700px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	padding: 1em;
	box-shadow: black 0 0 50px;
}
.form{
	width: 100%;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.underform{
	width: 48%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.form-item{
	width: 100%;
	height: 40%;
	display: flex;
	flex-direction: column;
}
.form-item:nth-child(5){
	position: absolute;
}
.bottom{
	height: 20%;
}
label{
	padding-left: 2em;
}
input{
	width: 90%;
	height: 3em;
	border: none;
	outline: none;
	border-radius: 50px;
	text-align: center;
	font-size: large;
	color: #000;
	background-color: #F1FA87;
}
#eye{
	float: right;
  	margin-top: -38px;
  	right: 45px;
  	position: relative;
  	z-index: 1;
  	cursor:pointer;
}
.bottom input{
	color: #FFF;
	float: right;
	width: 40%;
	border: none;
	height: 4em;
	background-color: #366A14;

}